:root {
  font: 16px/1.5 sans-serif;
  --sand: #f7f0da;
  --bright-sky: #80ced2;
  --sun: #d5562b;
  --night-sky: #85577e;
  --lime: b1d133;
  --tangerine: #f99d1b;
  --asphalt: #2f3737;
  --sea: #5a9090;
}
html {
  height: 100%;
}

Body {
  margin: 0;
  min-height: 100%;
  background-color: var(--sand);
  align-items: center;
  justify-content: center;
  height: 100%;
}
h1,
h2 {
  color: var(--sun);
  background-color: var(--sand);
  border: 1px solid var(--asphalt);
  padding: 1px, 15px, 1px, 15px;
}

p {
  color: var(--tangerine);
}
p:hover {
  color: var(--lime);
}
p::first-letter {
  font-size: 2em;
}
a::before {
  content: '💮';
  margin-left: 2px;
  font-size: 20px;
}
li {
  text-decoration: underline;
}
li:first-child {
  font-weight: bold;
}
li:nth-child(3) {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li .done {
  color: var(--sea);
}
li + li {
  color: var(--lime);
}
div {
  color: var(--night-sky);
}

/* "id" use octothorpe */
#polite {
  font-family: cursive;
}
#rude {
  font-family: monospace;
  text-transform: uppercase;
}
/* "class" use "." */
/* .first {
  font-weight: bold;
} */

.done {
  text-decoration: line-through;
}
.second {
  font-style: italic;
}
.third {
  color: green;
}
