h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
  padding: 1px, 15px, 1px, 15px;
}
p {
  color: red;
}
p:hover {
  color: green;
}
li {
  text-decoration: underline;
}
li:first-child {
  font-weight: bold;
}
li:nth-child(3) {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div {
  color: blue;
}

/* "id" use octothorpe */
#polite {
  font-family: cursive;
}
#rude {
  font-family: monospace;
  text-transform: uppercase;
}
/* "class" use "." */
/* .first {
  font-weight: bold;
} */

.done {
  text-decoration: line-through;
}
.second {
  font-style: italic;
}
.third {
  color: green;
}
